footer {
  margin-top: 90px;
}
.footer-container {
  position: relative; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 100;
  padding: 30px;
  background-color: #c5c0ff;
  border-top-color: #fefefe;
  border-top-style: ridge;
  border-top-width: 2px;
}
.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
  position: relative;
  padding: 10px;
  transition: background-color 0.5s;
}
.icon:hover {
  background-color: #faf0f0;
  border-radius: 5px;
}
.icon:active {
  background-color: #d0ddff;
  border-radius: 5px;
}
.facebook-icon {
  width: 50px;
}
.instagram-icon {
  width: 48px;
}
.linkedin-icon {
  width: 48px;
}
.discord-icon {
  width: 50px;
}
.github-icon {
  width: 50px;
}
.outlook-icon {
  width: 50px;
}
.copyright-container {
  text-align: center;
  margin-top: 10px;
}
.copyright {
  font-family: 'Sansita Swashed', cursive;
  font-size: 15px;
  color: #fefefe;
}

  