/* Desktop style */

footer {
  width: 100%;
  margin-top: 20px;
  opacity: 0.90;
}
.footer-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 100;
  padding: 30px;
  background-color: #c5c0ff;
  border-top-color: #fefefe;
  border-top-style: ridge;
  border-top-width: 2px;
  position: relative;
}
.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.icon {
  object-fit: contain;
  position: relative;
  padding: 10px;
  transition: background-color 0.5s;
}
.icon:hover {
  background-color: #faf0f0;
  border-radius: 5px;
}
.icon:active {
  background-color: #d0ddff;
  border-radius: 5px;
}
.facebook-icon {
  width: 50px;
}
.instagram-icon {
  width: 48px;
}
.linkedin-icon {
  width: 48px;
}
.github-icon {
  width: 50px;
}
.copyright-container {
  text-align: center;
  margin-top: 10px;
}
.copyright {
  font-family: 'Sansita Swashed', cursive;
  font-size: 15px;
  color: #fefefe;
}

/* Media queries */

/* Mobile style */

@media screen and (max-width: 576px) {

  footer {
    padding-top: 0;
    width: 100%;
  }
  .icon {
    padding: 5px;
  }
  .icon:hover {
    border-radius: 3px;
  }
  .icon:active {
    border-radius: 3px;
  }
  .facebook-icon,
  .instagram-icon,
  .linkedin-icon,
  .github-icon {
    width: 30px;
  }
  .copyright-container {
    margin-top: 5px;
  }
  .copyright {
    font-size: 12px;
  }
  
}

/* Tablet style */

@media screen and (min-width: 577px) and (max-width: 960px) {

  footer {
    padding-bottom: 0;
    width: 100%;
  }
  .icon {
    padding: 8px;
  }
  .icon:hover {
    border-radius: 5px;
  } 
  .icon:active {
    border-radius: 5px;
  }
  .facebook-icon,
  .instagram-icon,
  .linkedin-icon,
  .github-icon {
    width: 45px;
  }
  .copyright-container {
    margin-top: 8px;
  }
  .copyright {
    font-size: 15px;
  }
}
  