* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none; 
    text-decoration: none;
    scroll-behavior: smooth;
}
body {
  margin: 20px;
  height: 3000px;
  background-color: #fefefe;

}
p {
  font-family: 'Montserrat Alternates', sans-serif;
}
h1 {
  font-family: 'Sansita Swashed', cursive;
}