* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none; 
    text-decoration: none;
    scroll-behavior: smooth;
}
body {
  margin: 20px;
  background-color: #fefefe;
  height: 5000px;
}
p {
  font-family: 'Montserrat Alternates', sans-serif;
}
h1 {
  font-family: 'Sansita Swashed', cursive;
}

