/* Desktop style */

.intro-skills {
  margin-top: 150px;
  margin-bottom: 80px;
  background-color: #faf0f0;
  border-radius: 50px;
  width: 100%;
  height: 2200px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  row-gap: 50px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.skill-container {
  background-color: #fefefe;
  border-radius: 30px;
  width: 500px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: box-shadow 0.5s;
}
.skill-container:hover {
  box-shadow: 0 0 20px rgb(51, 13, 113);
}
.logo-pic {
  width: 50px;
  height: auto;
  object-fit: contain;
}
.bootstrap-pic {
  margin-left: 26px;
}
.html-text {
  font-size: 20px;
  font-weight: bold;
  color: #f06529;
}
.css-text {
  font-size: 20px;
  font-weight: bold;
  color: #264de4;
}
.bootstrap-text {
  font-size: 20px;
  font-weight: bold;
  color: #6c48d4;
}
.sass-text {
  font-size: 20px;
  font-weight: bold;
  color: #cd6799;
}
.github-text {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}
.canva-text {
  font-size: 20px;
  font-weight: bold;
  color: #20c4cb;
}
.howcanihelp-title {
  padding-top: 90px;
}
.skills-description {
  font-size: 20px;
  text-align: center;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  line-height: 40px;
}
.skills-pic-container {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}
.skills-pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.howcanihelp-container {
  background-color: #fefefe;
  border-radius: 30px;
  width: 350px;
  height: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  transition: box-shadow 0.5s;
}
.howcanihelp-container:hover {
  box-shadow: 0 0 20px rgb(51, 13, 113);
}
.howcanihelp-description {
  font-size: 20px;
  padding: 30px;
  align-items: center;
}

/* Media queries */

/* Mobile style */

@media screen and (max-width: 576px) {

  .intro-skills {
    width: 100%;
    height: 1610px;
    margin-top: 150px;
    margin-bottom: 40px;
  }
  .skills-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px;
  }
  .skill-container {
    border-radius: 15px;
    width: 230px;
    height: 50px;
    justify-content: space-evenly;
  }
  .logo-pic {
    width: 35px;
  }
  .html-text,
  .css-text,
  .bootstrap-text,
  .sass-text,
  .github-text,
  .canva-text {
    font-size: 15px;
  }
  .howcanihelp-title {
    padding-top: 45px;
  }
  .skills-description {
    font-size: 15px;
    text-align: center;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
  }
  .skills-pic-container {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .skills-pic {
    width: 90px;
    height: 90px;
  }
  .howcanihelp-container {
    border-radius: 15px;
    width: 350px;
    height: 100px;
    margin-bottom: 50px;
  }
  .howcanihelp-description {
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
  }

}

/* Tablet style */

@media screen and (min-width: 577px) and (max-width: 960px) {

  .intro-skills {
    margin-top: 150px;
    margin-bottom: 55px;
    width: 100%;
    height: 2180px;
  }
  .skills-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px;
  }
  .skill-container {
    justify-content: space-evenly;
  }
  .logo-pic {
    width: 40px;
  }
  .html-text,
  .css-text,
  .bootstrap-text,
  .sass-text,
  .github-text,
  .canva-text {
    font-size: 18px;
  }
  .howcanihelp-title {
    padding-top: 60px;
  }
  .skills-description {
    font-size: 18px;
    text-align: center;
    margin-top: 45px;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
  }
  .skills-pic-container {
    margin-top: 55px;
    margin-bottom: 55px;
  }
  .skills-pic {
    width: 110px;
    height: 110px;
    object-fit: cover;
  }
  .howcanihelp-container {
    border-radius: 15px;
    width: 450px;
    height: 150px;
    margin-bottom: 55px;
  }
  .howcanihelp-description {
    font-size: 18px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: auto;
  }
 
}
